
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --color-primary: #1e3a8a; /* Azul oscuro */
    --color-secondary: #ffffff; /* Blanco */
    --color-background: #f0f0f0; /* Gris claro */
    --color-text: #333333; /* Gris oscuro */
    --color-dark-background: #222222; /* Gris oscuro */
    --color-dark-text: #f5f5f5; /* Blanco claro */
}


.header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    color: var(--color-secondary);
    
}


.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}


.nav {
    display: flex;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: var(--color-secondary);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}


.products-container {
    min-height: 30vh;
    display: grid;
    place-items: center;
    background-color: var(--color-background);
}


.oscuro {
    background-color: var(--color-dark-background) !important;
    color: var(--color-dark-text) !important;
}

.oscuro .nav-link {
    color: var(--color-dark-text);
}

.oscuro .nav-link:hover {
    text-decoration: underline;
}


.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
}


.productos-grilla {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}


.producto {
    background-color: transparent; 
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--color-secondary);
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.categoria {
    background-color: transparent; 
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--color-secondary);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}



.producto img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 0.5rem; 
}


.grid {
    display: grid;
}


footer {
    margin-top: 5rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 1rem;
}


